.hero {
    background-color: #E7E7E7;
    height: 560px;
    width: 100%;
    overflow: hidden;
}

.hero img {
    height: 100%;
    object-position: center;
}

.text {
    background-color: white;
}

.text h3 {
    font-family: 'Playfair Display';
    font-size: 30px;
    font-weight: 100;
}

@media screen and (max-width: 575px) {
    .text h3 {
        font-size: 26px;
    }
}

.text strong {
    font-weight: 800;
}

.text p {
    color: rgb(104, 104, 104);
}

.cards {
    background-image: url("../media/about/backgroundDark.png");
    background-repeat: repeat;
}

.cards .icon {
    height: 40px;
    filter: invert(1);
}

.cards h5 {
    font-size: 16px;
}
.cards p {
    font-size: 16px;
    font-weight: 600;
    margin-top: -4px;
}

.contact {
    background-color: white;
}

.contact h1 {
    font-family: 'Playfair Display';
    font-size: 36px;
    font-weight: 800;
}

.contact p {
    color: rgb(104, 104, 104);
}

.contact button {
    background-color: #454545;
    border: none;
    border-radius: 0;
}