body {
    margin: 0;
}

div {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding: 30px 50px; /*top bottom    left right*/
}

h1 { 
    padding: 0px 50px;
    margin: 0px -50px;
    background-color: rgba(255, 255, 255, 0.2);
    text-transform: uppercase;
    font-weight: 800;
}

img {
    margin: 30px 0px 0px 0px;
    object-fit: cover;
    border: 2px solid rgba(255, 255, 255, 0.5);
    width: 500px;
    height: 300px;
}

p {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 500;
}

hr {
    margin: 0;
}

.nis {
    background-color: rgb(158, 84, 76);
    text-align: left;
}

.berlin {
    background-color: rgb(86, 144, 71);
    text-align: center;
}

.moscow {
    background-color: rgb(113, 86, 136);
    text-align: right;
}

@media screen and (max-width: 615px) {
    img {
        width: 100%;
    }
}